@import "../../color.scss";
.form {
  background-color: white;
  width: 100%;
  .titleWrapper {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    // padding: 0.3rem;
    align-items: center;
    background-color: $ashGray;
    .leftTitleWrapper {
      width: 50%;
      margin: 0.5vh 0.5%;
      .leftTitle {
        width: 100%;
        background-color: white;
      }
    }
    .rightTitleWrapper {
      width: 50%;
      height: 7vh;
      border-radius: 0.3rem;
      margin: 0.5vh 0.5%;
      background-color: white;
    }
  }

  .textWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ashGray;
    .leftTextWrapper {
      width: 49%;
      min-height: 73vh;
      margin: 0.5vh 0.5%;
      background-color: white;
    }
    .rightTextWrapper {
      width: 49%;
      min-height: 73vh;
      margin: 0.5vh 0.5%;
      border-radius: 0.3rem;
      background-color: white;
    }
  }

  .buttonWrapper {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ashGray;
    .button {
      background-color: white;
      padding: 0.75rem 5rem;
    }
  }
}

//   .wrapper {
//     min-height: 84vh;
//     display: flex;
//     width: 100vw;
//     background-color: $ashGray;
//     & > div {
//       height: auto;
//     }
//     .leftWrapper {
//       min-height: 84vh;
//       width: 50vw;
//       margin-top: 0.5rem;
//       margin-left: 0.5rem;
//       .leftTitle {
//         width: 97%;
//         margin: 0.5rem 0;
//         background-color: white;
//       }
//       .leftText {
//         height: 62vh;
//         & > div {
//           height: 62vh;
//           & > div {
//             height: 62vh;
//             & > div:nth-child(2) {
//               height: 65vh;
//             }
//           }
//         }

//         .text {
//           background-color: white;
//           width: 97%;
//           margin: 0.5rem 0;
//         }
//       }
//     }
//     .rightWrapper {
//       min-height: 84vh;
//       width: 50vw;
//       // margin-top: 0.5rem;
//       margin-right: 0.5rem;
//       .rightTitle {
//         // height: 10vh;
//         display: flex;
//         align-items: center;
//         // margin-top: 0.5rem;
//         margin-bottom: 0.9rem;
//         border: 1px solid gray;
//         border-radius: 0.3rem;
//         padding-left: 0.5rem;
//         background-color: white;
//       }
//       .rightText {
//         min-height: 74vh;
//         margin-top: 0.5rem;
//         border: 1px solid gray;
//         border-radius: 0.3rem;
//         min-height: 65vh;
//         padding-top: 1rem;
//         padding-left: 0.5rem;
//         padding-bottom: 2.8rem;
//         background-color: white;
//       }
//     }
//   }
//   .buttonWrapper {
//     width: 100%;
//     background-color: $ashGray;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 8vh;
//     .button {
//       display: block;
//       color: white;
//       font-weight: bold;
//       background-color: $indigoDye;
//       width: 25vw;
//     }
//   }
// }
