@import "../../color.scss";
.form {
  background-color: white;
  min-height: 92vh;
  width: 100%;
  .blogWrapper {
    min-height: 84vh;
    display: flex;
    width: 100vw;
    background-color: $ashGray;
    & > div {
      height: auto;
    }
    .inputWrapper {
      min-height: 73vh;
      width: 50vw;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      .title {
        width: 97%;
        margin: 0.5rem 0;
        background-color: white;
      }
      .simpleMDEWrapper {
        min-height: 73vh;
        & > div {
          min-height: 73vh;
          & > div {
            min-height: 73vh;
            & > div:nth-child(2) {
              min-height: 63vh;
            }
          }
        }

        .text {
          background-color: white;
          width: 97%;
          margin: 0.5rem 0;
        }
      }
    }
    .writtenCharaWrapper {
      min-height: 84vh;
      width: 50vw;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
      .title {
        height: 7vh;
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 0.9rem;
        border: 1px solid gray;
        border-radius: 0.3rem;
        padding-left: 0.5rem;
        background-color: white;
      }
      .text {
        min-height: 67vh;
        margin-top: 0.5rem;
        border: 1px solid gray;
        border-radius: 0.3rem;
        min-height: 65vh;
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-bottom: 2.8rem;
        background-color: white;
      }
    }
  }
  .buttonWrapper {
    width: 100%;
    background-color: $ashGray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    .button {
      display: block;
      color: white;
      font-weight: bold;
      background-color: $indigoDye;
      width: 25vw;
    }
  }
}
