@import "../../color.scss";
.form {
  background-color: white;
  width: 100%;
  .titleWrapper {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    // padding: 0.3rem;
    align-items: center;
    background-color: $ashGray;
    .leftTitleWrapper {
      width: 50%;
      margin: 0.5vh 0.5%;
      .leftTitle {
        width: 100%;
        background-color: white;
      }
    }
    .rightTitleWrapper {
      width: 50%;
      height: 7vh;
      border-radius: 0.3rem;
      margin: 0.5vh 0.5%;
      padding: 0.5vh 1%;
      background-color: white;
    }
  }

  .textWrapper {
    display: flex;
    justify-content: center;
    background-color: $ashGray;
    .leftTextWrapper {
      width: 49%;
      min-height: 73vh;
      margin: 0.5vh 0.5%;
      background-color: white;
      & > div {
        height: 100%;
        background-color: red;
        & > div {
          background-color: yellow;
          height: 100%;
          & > div:nth-child(2) {
            background-color: yellowgreen;
            min-height: 63vh;
          }
        }
      }
    }
    .rightTextWrapper {
      width: 49%;
      min-height: 73vh;
      margin: 0.5vh 0.5%;
      border-radius: 0.3rem;
      background-color: white;
      padding: 0.5vh 1%;
      img {
        width: 95%;
        display: block;
        margin: 0 auto;
        border-radius: 0.3rem;
      }
    }
  }

  .buttonWrapper {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ashGray;
    .button {
      background-color: white;
      padding: 0.75rem 5rem;
    }
  }
}
