.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  border: solid black 1px;
  border-radius: 0.3rem;
  padding: 0.5rem;
  .editIcon {
    margin-right: 0.5rem;
    color: green;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: translateY(-5px);
    }
  }
  .deleteIcon {
    margin-right: 0.5rem;
    color: red;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: translateY(-5px);
    }
  }
}
