@import "../../color.scss";
.headerWrapper {
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $indigoDye;
  padding: 0 2.5rem;
  .titleWrapper {
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: translateY(-5px);
    }
    .title {
      font-size: 2rem;
      color: white;
      font-weight: bold;
    }
  }
  .buttonWrapper {
    .link {
      text-decoration: none;
    }
    .button {
      background-color: white;
      padding: 0.5rem;
      margin-left: 1rem;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        transform: translateY(-5px);
      }
      .icon {
        margin-right: 1rem;
      }
    }
  }
}
@media screen and (max-width: 560px) {
  .headerWrapper {
    padding: 0 3%;
    .titleWrapper {
      .title {
        font-size: 1rem;
      }
    }
    .buttonWrapper {
      font-size: 1rem;
      display: block;
      .button {
        padding: 0.25rem;
        margin-left: 0;
      }
    }
  }
}
