@import "../../color.scss";
.blogCardWrapper {
  background-color: white;
  height: 12rem;
  width: 50rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 2rem;
  border: solid 1px black;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.5rem 0;

  &:hover {
    background-color: $ashGray;
    cursor: pointer;
  }

  .imageWrapper {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      width: 80%;
      border-radius: 0.3rem;
    }
  }
  .rightWrapper {
    width: 60%;
    height: 70%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .titleAndLikesWrapper {
      display: flex;
      justify-content: space-between;
      .title {
        font-weight: bold;
        font-size: 1.3rem;
      }
      .likes {
        font-weight: bold;
        color: red;
        display: flex;
        align-items: center;
        .favoriteIcon {
          margin-right: 0.5rem;
        }
      }
    }
    .paragraph {
    }
    .date {
      font-size: small;
      color: gray;
    }
  }
}
