.wrapper {
  margin: 2.5rem;
  padding: 2rem 2rem 2rem 2rem;
  background-color: white;
  border-radius: 0.3rem;
  height: auto;

  .titleWrapper {
    border-bottom: 1px solid black;
    margin-top: 0px;
  }
  .thumbUpAltWrapper {
    margin-top: 0.5rem;
    padding: 0.1rem;
    display: flex;
    font-size: 1rem;
    align-items: center;
    .button {
      display: block;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      .para {
        margin: 0.5rem 0;
      }
    }
    .num {
      margin-left: 1rem;
      font-size: 1.2rem;
    }
  }
}

.commentWrapper {
  background-color: white;
  border-radius: 0.3rem;
  margin: 2.5rem 2.5rem 0 2.5rem;
  padding: 1rem 2.5rem;
  .commentLists {
    .paragraph {
      font-weight: bold;
      font-size: 1.5rem;
    }
    .commentList {
      padding: 1.5rem;
      border-bottom: 1px lightgrey dashed;
      .user {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      .date {
        color: gray;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
      }
      .text {
        padding-left: 1.5rem;
      }
    }
  }
  .postComment {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .commentForm {
    .commentTextArea {
      display: flex;
      width: 100%;
      div {
        width: 100%;
        textarea {
          width: 100%;
        }
      }
    }
    .commentButton {
      margin: 1rem;
    }
  }
}
