@import "../../color.scss";
.wrapper {
  margin: 2.5rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.3rem;

  .titleWrapper {
    border-bottom: 1px solid black;
    margin-top: 0px;
    p {
      margin-top: 0rem;
    }
  }
  .text {
    img {
      width: auto;
      height: auto;
      max-width: 95%;
      max-height: 95%;
      border-radius: 0.3rem;
      display: block;
      margin: 0 auto;
    }
  }
  .buttonWrapper {
    display: flex;
    .thumbUpAltWrapper {
      margin-top: 0.5rem;
      margin-right: 0.8rem;
      padding: 0.1rem;
      display: flex;
      font-size: 1rem;
      align-items: center;
      .button {
        display: block;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.6s ease 0s;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        transition: 0.2s;

        &:hover {
          transform: translateY(-5px);
          opacity: 0.6;
        }
        .para {
          margin: 0.5rem 0;
        }
      }
    }
    .thumbDownAltWrapper {
      margin-top: 0.5rem;
      margin-right: 0.8rem;
      padding: 0.1rem;
      display: flex;
      font-size: 1rem;
      align-items: center;

      .button {
        display: block;
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        cursor: pointer;
        transition: all 0.6s ease 0s;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        transition: 0.2s;

        &:hover {
          transform: translateY(5px);
          opacity: 0.6;
        }
        .para {
          margin: 0.5rem 0;
        }
      }
      .num {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        font-size: 1.5rem;
        color: red;
        .favoriteIcon {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
.commentWrapper {
  background-color: $ashGray;
  border-radius: 0.3rem;
  padding: 0rem 2.5rem 2.5rem 2.5rem;
  .commentListsAndPostCommentWrapper {
    border-radius: 0.3rem;
    padding: 2rem;
    .commentLists {
      .paragraph {
        margin-top: 0rem;
        font-weight: bold;
        font-size: 1.5rem;
      }
      .commentList {
        padding: 1.5rem;
        border-bottom: 1px lightgrey dashed;
        .user {
          font-weight: bold;
          margin-bottom: 0.5rem;
        }
        .date {
          color: gray;
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
        }
        .text {
          padding-left: 1.5rem;
        }
      }
    }
    background-color: white;
    .postComment {
      font-weight: bold;
      font-size: 1.5rem;
    }
    .commentForm {
      .nickname {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        div {
          width: 100%;
        }
      }
      .comment {
        display: flex;
        width: 100%;
        div {
          width: 100%;
          textarea {
            width: 100%;
          }
        }
      }
      .button {
        margin: 1rem 0;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    margin: 0.5% auto;
    width: 100%;
    padding: 0;
    .titleWrapper {
      padding: 0 3%;
    }
    .text {
      padding: 3%;
    }
    .buttonWrapper {
      display: flex;
      text-align: center;
      .thumbUpAltWrapper {
        margin: 0;
        .button {
          font-size: 0.9rem;
          width: auto;
        }
      }
      .thumbDownAltWrapper {
        width: 65%;
        margin: 0;
        .button {
          font-size: 0.9rem;
        }
        .num {
          margin-left: 1%;
          font-size: 0.9rem;
        }
      }
    }
  }
  .commentWrapper {
    padding: 0;
    margin-top: 3%;
    .commentListsAndPostCommentWrapper {
      border-radius: 0.3rem;
      padding: 3%;
      .commentLists {
        .commentList {
          padding: 0;
        }
      }
    }
    .commentForm {
      .button {
        width: 100%;
      }
    }
  }
}
