.wrapper {
  margin: 2.5rem;
  padding: 2rem 2rem 2rem 2rem;
  background-color: white;
  border-radius: 1rem;
  height: auto;

  .titleWrapper {
    border-bottom: 1px solid black;
    margin-top: 0px;
  }
}
